@import '../../global.scss';

.resultsContainer {
    position: absolute;
    display: flex;
    flex-flow: column;
    top: 20;
    left: calc(50% - 150px - 5px - 1px);
    background-color: $search-results-bkg-color;
    color: $secondary-font-color;
    max-height: 75vh;
    overflow-y: scroll;
}

.results {
    display: flex;
    flex-flow: column;
    height: auto;
}

.results > a {
    color: $secondary-font-color;;
    font-weight: bold;
    text-decoration: none;
    width: calc(300px + 10px + 2px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    border-bottom: 1px solid $search-border-separator-color;

    &:hover {
        color: $hover-font-color;
    }
}