.headerContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: black;
    color: white;
    height: 17.5vh;
}

header > h1,
header > h3 {
    margin: 5px;
    text-align: center;
}